@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
}

body{
    overflow-x: hidden;
}

.cont {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #292929 0%, #3C3C3C 100%);
}

.head {
    width: 100%;
    position: fixed;
    height: 15vh;
    z-index: 10;
}

.comp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    z-index: 10;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    z-index: 10;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image img {
    height: 12vh;
}

.text {
    font-size: 65px;
    color: rgba(255, 255, 255, 0);
    background-color: none;
    background: none;
    text-shadow:
        /* 0 0 40px #FFE55E, */
        0 0 10px #FFE600,
        0 0 20px #FFE600;
    -webkit-text-stroke: 1px #fff;
    margin-left: 15px;
}

.updText {
    color: #FFE55E;
}

.firstPage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    position: relative;
}

.left,
.right {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    flex-direction: column;
}

.burgerLines {
    cursor: pointer;
    width: 55px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textLeftTyped {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    color: #fff;
}

.boxTyped {
    display: flex;
    flex-direction: row;
}

.line {
    height: 2px;
    width: 50px;
    background-color: #fff;
    border-radius: 10px;
}

#line2,
#linePhon2 {
    margin: 10px 0;
    margin-left: 15px;
}

.boxDownGet {
    color: #FFE55E;
    font-size: 45px;
    transform: rotate(90deg);
    border: 3px solid #FFE55E;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    position: absolute;
    margin-top: 70vh;
    animation: animationUpDown 2s infinite;
    cursor: pointer;
    transition: 1s;
}

.boxDownGet:hover {
    transition: 1s;
    border: 3px solid #ffffff;
    box-shadow: 0 0 40px #FFE55E;
}

.swiper {
    width: 100%;
    height: 100%;
}

.sliderBoxCent {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* p0 */
}

.swiper-slide {
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.phon{
    display: none;
}

.boxImage {
    width: 80%;
    height: 80%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.st{
    margin: 0;
    padding: 0;
}

#boxOne {
    background-image: url(./img/wheel.png);
}

#boxTwo {
    background-image: url(./img/drift.png);
}

#boxThree {
    background-image: url(./img/channel.png);
}

.swiper-button-next::after {
    color: #fff;
}

.swiper-button-prev::after {
    color: #fff;
}

.swiper-pagination-bullet {
    color: #fff !important;
    background-color: #fff !important;
    width: 13px!important;
    height: 13px!important;
    background-color: #fff !important;
    background: #fff !important;
    opacity: 1!important;
    transition: 0s;
}

.swiper-pagination-bullet-active {
    color: #FFE55E !important;
    transition: 0s;
    background-color: #FFE55E !important;
}

.burger_open{
    z-index: 0;
    width: 100%;
    margin-top: 15vh;
    height: 85vh;
    position: absolute;
    margin-left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
}


.center_body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center_body .spanTexts{
    margin: 20px 0;
}

@keyframes animationUpDown {

    0%,
    100% {
        margin-top: 70vh;
    }

    50% {
        margin-top: 60vh;
    }
}